/Windows Release/
/Windows Debug/
/libraries/

/Songs/*
!/Songs/6814 Yoshito Hirano, Yuka Tsujiyoko - Petal Meadows/
/Songs/6814 Yoshito Hirano, Yuka Tsujiyoko - Petal Meadows/*
!/Songs/6814 Yoshito Hirano, Yuka Tsujiyoko - Petal Meadows/*keyBinded.osu
/Skins/

/src/*
!/src/App/
/src/App/*
!/src/App/Osu/

/build/*
!/build/materials/
/build/materials/*
!/build/materials/default/
/build/materials/default/*
!/build/materials/default/hitcircle*

/apply_keybinding/*.osu
/apply_keybinding/__pycache__/

.*
!/.gitignore